**Python is a popular programming language.**

In [1]:
print("Hello, World!")

Hello, World!

**Executing Scripts**

In [4]:
!python demo-python.py

Hello, World!

In [5]:
import sys

print(sys.version)

3.10.12 (main, Jul 29 2024, 16:56:48) [GCC 11.4.0]

**Python Indentation**

Indentation refers to the spaces at the beginning of a code line.

In [ ]:
if 5 > 2:
print("Five is greater than two!")

In [7]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [8]:
if 5 > 2:
 print("Five is greater than two!")
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

In [ ]:
if 5 > 2:
 print("Five is greater than two!")
        print("Five is greater than two!")

**Comments**

Python has commenting capability for the purpose of in-code documentation.

Comments start with a #, and Python will render the rest of the line as a comment:

In [10]:
#This is a comment.
print("Hello, World!")

Hello, World!

In [11]:
print("Hello, World!") #This is a comment

Hello, World!

In [12]:
#print("Hello, World!")
print("Cheers, Mate!")

Cheers, Mate!

In [13]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

Hello, World!

In [14]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

**Variables**

Variables are containers for storing data values.

In [15]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [16]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

**Casting**

If you want to specify the data type of a variable, this can be done with casting.

In [18]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0
print(x)
print(y)
print(z)

3
3
3.0

In [20]:
x = 3
y = 4.0
z = '50'
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'str'>

In [22]:
x = 5
y = "John"
z = 'John'
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'str'>
<class 'str'>

In [23]:
x = "John"
# is the same as
x = 'John'

**Case-Sensitive**

Variable names are case-sensitive.

In [27]:
a = 4
A = "Sally"
print(a)
print(A)

4
Sally

In [28]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [ ]:
2myvar = "John"
my-var = "John"
my var = "John"

**Many Values to Multiple Variables**

Python allows you to assign values to multiple variables in one line:

In [30]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [31]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [32]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

**Output Variables**

The Python print() function is often used to output variables.

In [33]:
x = "Python is awesome"
print(x)

Python is awesome

In [34]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [35]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [36]:
x = 5
y = 10
print(x + y)

15

In [ ]:
x = 5
y = "John"
print(x + y)

In [38]:
x = 5
y = "John"
print(x, y)

5 John

**Global Variables**

Variables that are created outside of a function (as in all of the examples in the previous pages) are known as global variables.

In [41]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [42]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

**Python Data Types**

In [43]:
x = 5
print(type(x))

<class 'int'>

In [44]:
x = "Hello World"
print(type(x))

<class 'str'>

In [46]:
x = 1j
print(type(x))

<class 'complex'>

In [47]:
x = ["apple", "banana", "cherry"]
print(type(x))

<class 'list'>

In [48]:
x = ("apple", "banana", "cherry")
print(type(x))

<class 'tuple'>

In [49]:
x = {"name" : "John", "age" : 36}
print(type(x))

<class 'dict'>

In [50]:
x = {"apple", "banana", "cherry"}
print(type(x))

<class 'set'>

In [51]:
x = True
print(type(x))

<class 'bool'>

In [52]:
x = b"Hello"
print(type(x))

<class 'bytes'>

In [53]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [54]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

**Type Conversion**

In [55]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

a = float(x)

b = int(y)

c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

**Random Number**

Python does not have a **random()** function to make a random number, but Python has a built-in module called **random** that can be used to make random numbers

In [56]:
import random

print(random.randrange(1, 10))

7

**Strings**

Strings in python are surrounded by either single quotation marks, or double quotation marks.

In [57]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

In [58]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [59]:
a = "Hello, World!"
print(a[1])

e

In [60]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [61]:
a = "Hello, World!"
print(len(a))

13

In [62]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [63]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

**Slicing**

You can return a range of characters by using the slice syntax.

In [66]:
b = "Hello, World!"
print(b[2:5])

llo

In [67]:
b = "Hello, World!"
print(b[:5])

Hello

In [68]:
b = "Hello, World!"
print(b[2:])

llo, World!

In [69]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [70]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [71]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [72]:
a = " Hello, World! "
print(a.strip())

Hello, World!

In [73]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [74]:
a = "Hello, World!"
print(a.split(","))

['Hello', ' World!']

**String Concatenation**

In [75]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [76]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [78]:
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

In [79]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

In [80]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

**Escape Character**

To insert characters that are illegal in a string, use an escape character.

In [ ]:
txt = "We are the so-called "Vikings" from the north."

In [83]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [84]:
x = 5
y = 3

print(x * y)

15

In [85]:
x = 2
y = 5

print(x ** y)

32

In [86]:
x = 13
y = 3

print(x / y)

4.333333333333333

In [90]:
x = 13
y = 3

print(x // y)

4

In [94]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
print(list1, list2, list3)

['apple', 'banana', 'cherry'] [1, 5, 7, 9, 3] [True, False, False]

In [95]:
list1 = ["abc", 34, True, 40, "male"]
print(list1)

['abc', 34, True, 40, 'male']

In [93]:
thislist = list(("apple", "banana", "cherry"))
print(thislist)

['apple', 'banana', 'cherry']

In [96]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [97]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [98]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [99]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [100]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry"]
del thislist
print(thislist)

In [103]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [104]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [105]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

In [106]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

In [111]:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

In [112]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [113]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

In [114]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

In [115]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [116]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [117]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

**Tuples**

Tuples are unchangeable, meaning that you cannot change, add, or remove items once the tuple is created.

But there are some workarounds.

In [118]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [120]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(y)

['apple', 'banana', 'cherry', 'orange']

In [121]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [122]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

In [124]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [125]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

In [126]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [128]:
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}
print(thisdict)

{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}

In [130]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

In [137]:
f = open("demo-python.py", "r")
print(f.read())

print("Hello, World!")

In [2]:
f = open("demo-python.py", "r")
print(f.read(5))

print

In [3]:
f = open("demo-python.py", "r")
print(f.readline())
f.close()

print("Hello, World!")

In [6]:
f = open("demofile2.txt", "a")
f.write("Now the file has more content!")
f.close()

In [7]:
f = open("demofile2.txt", "r")
print(f.read())

Now the file has more content!Now the file has more content!

In [8]:
f = open("demofile3.txt", "w")
f.write("Woops! I have deleted the content!")
f.close()

In [9]:
f = open("demofile3.txt", "r")
print(f.read())

Woops! I have deleted the content!

In [10]:
import os
if os.path.exists("demofile.txt"):
  os.remove("demofile.txt")
else:
  print("The file does not exist")

The file does not exist

In [11]:
import os
os.rmdir("niks")

**If ... Else**

In [14]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

In [15]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [16]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [17]:
if a > b: print("a is greater than b")

a is greater than b

In [18]:
a = 2
b = 330
print("A") if a > b else print("B")

B

In [19]:
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

=

In [20]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

In [21]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

**While Loops**

In [22]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [23]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [24]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

**For Loops**

In [25]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [26]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

**Functions**

In [28]:
def my_function():
  print("Hello from a function")

In [30]:
my_function()

Hello from a function

In [32]:
def my_function(fname):
  print(fname + " from CloudThat")

my_function("Niks")
my_function("Ram")
my_function("Kiran")

Niks from CloudThat
Ram from CloudThat
Kiran from CloudThat

In [33]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Niks", "K")

Niks K

In [34]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Niks", "Rayan", "Kiran")

The youngest child is Kiran

**Lambda**

A lambda function is a small anonymous function.

A lambda function can take any number of arguments, but can only have one expression.

In [35]:
x = lambda a : a + 10
print(x(5))

15

In [36]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [37]:
def myfunc(n):
  return lambda a : a * n

mytripler = myfunc(3)

print(mytripler(11))

33

**Classes and Objects**
Almost everything in Python is an object, with its properties and methods.

A Class is like an object constructor, or a "blueprint" for creating objects.

In [38]:
class MyClass:
  x = 5

In [39]:
p1 = MyClass()
print(p1.x)

5

**Iterators**

An iterator is an object that contains a countable number of values.

In [42]:
mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))

apple
banana
cherry

In [43]:
mystr = "banana"
myit = iter(mystr)

print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))

b
a
n
a
n
a

**Polymorphism**

The word "polymorphism" means "many forms", and in programming it refers to methods/functions/operators with the same name that can be executed on many objects or classes.

In [44]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print(len(thisdict))

3

In [45]:
x = "Hello World!"

print(len(x))

12

In [46]:
mytuple = ("apple", "banana", "cherry")

print(len(mytuple))

3

In [47]:
class Car:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Drive!")

class Boat:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Sail!")

class Plane:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Fly!")

car1 = Car("Ford", "Mustang")
boat1 = Boat("Ibiza", "Touring 20")
plane1 = Plane("Boeing", "747")

for x in (car1, boat1, plane1):
  x.move()

Drive!
Sail!
Fly!

**Module**

Consider a module to be the same as a code library.

A file containing a set of functions you want to include in your application.

In [48]:
import fmod

fmod.greeting("niks")

Hello, niks